/* BEGIN EXTERNAL SOURCE */
img {
width:auto
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 80px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top: 15px;
}
/* END EXTERNAL SOURCE */
